{% extends "base.html" %}

{% load static %}

{% block plot_detail %}

{% include "nav.html" %}

<div class="container-fluid p-5 border bg-light">

    <!-- Header -->
    <div>
        <h3 class="text-muted">{{ plot.variation_name }}</h3>
    </div>

    <div class="row">

        <!-- Collapsable Plot infos (Plot, Code, Data) -->
        <div class="col-lg-7 pb-5">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#plot">Plot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#code">Code</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#transformedData">Data (Sample)</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content pt-5 mr-5">
                <div class="tab-pane container active" id="plot">
                    Test
                </div>
                <div class="tab-pane container fade" id="code">
                    {% include "code_snippet.html" %}
                </div>
                <div class="tab-pane container fade" id="transformedData">
                    Test
                </div>
            </div>
        </div>

        <!-- Plot infos (Goals, Dimensionality, Variales) -->
        <div class="col-lg-3">
            <div>
                <h5 class="text-muted">Goals</h5>
                {% for key, value in plot.goals.items %}
                {% if value == True %}
                <a href="{% url 'plot_goal' goal=key %}" class="badge badge-pill badge-dark">{{ key }}</a>
                {% endif %}
                {% endfor %}
            </div>
            <div>
                <h5 class="text-muted pt-4">Dimensionality</h5>
                <p>{{ plot.dimensionality }}</p>
            </div>
            <div>
                <h5 class="text-muted pt-2">Variables</h5>
                <ul>
                    {% if plot.numerical == 'N' %}
                    <li>{{ plot.numerical }} Numeric</li>
                    {% else %}
                    {% if plot.numerical|add:"0" > 0 %}
                    <li>{{ plot.numerical }} Numerical</li>
                    {% endif %}
                    {% endif %}
                    {% if plot.categorical|add:"0" > 0 %}
                    <li>{{ plot.categorical }} Categorical</li>
                    {% endif %}
                </ul>
            </div>
            <div>
                <h5 class="text-muted pt-2">Shapes</h5>
                {% for key, value in plot.shapes.items %}
                    {% if value == True %}
                        {% with "img/shape/"|add:key|add:".png" as shape_path %}
                        <a href="{% url 'plot_shape' shape=key %}"><img class="img-fluid pb-3" src="{% static shape_path %}" width="32"></a>
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            </div>
            <h5 class="text-muted pt-2">Description</h5>
            <p class="text-dark">{{ plot.description }}</h5>
        </div>

        <!-- Related Plots -->
        <div class="col-lg-3">
            <h5 class="text-muted">Related Plots</h5>
        </div>

    </div>
</div>

</div>

{% endblock %}