<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Data Visualization Catalogue</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/goals">Visualization Goals</a>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="GET" id="plotSearchForm">
      <input class="form-control mr-sm-2" type="search" id="plotSearchField" name="q" value="{{ request.GET.q }}" placeholder="Enter Plot Name"
        aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" id="plotSearchButton" type="submit">Search</button>
    </form>
    </form>
  </div>
</nav>