{% extends "base.html" %}

{% load static %}

{% block page_content %}

{% include "nav.html" %}

<div class="container-fluid p-5 border">
    <h3 class="text-muted">{{ plot.variation_name }}</h3>
    <div class="row">
        <div class="col-md-6 pt-3">
            <!-- Nav tabs -->
            <ul class="nav nav-pills">
                <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#plot">Plot</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#code">Code</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#data">Data</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content pt-3">
                <div class="tab-pane container active" id="plot">
                    <img class="img-fluid" src="{% static plot.seaborn %}">
                </div>
                <div class="tab-pane container fade" id="code">
                    {% include "code_snippet.html" %}
                </div>
                <div class="tab-pane container fade" id="data">...</div>
            </div>

        </div>
        <div class="col-md-4 pt-3 ml-5">
            <div>
                <h5 class="text-muted">Goals</h5 >
                {% for key, value in plot.goals.items %}
                    {% if value == True %}
                        <span class="badge badge-pill badge-dark">{{ key }}</span>
                    {% endif %}
                {% endfor %}
            </div>
            <div>
                <h5 class="text-muted pt-3">Dimensionality</h5 >
                <p>{{ plot.dimensionality }}</p>
            </div>
            <div>
                <h5 class="text-muted pt-2">Variables</h5>
                <ul>
                    {% if plot.numerical == 'N' %}
                        <li>{{ plot.numerical }} Numeric</li>
                    {% else %}
                        {% if plot.numerical|add:"0" > 0 %}
                            <li>{{ plot.numerical }} Numeric</li>
                        {% endif %}
                    {% endif %}
                    {% if plot.categorical|add:"0" > 0 %}
                        <li>{{ plot.categorical }} Categoric</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pr-1">
            <p class="text-muted">{{ plot.description }}</h5>
        </div>
    </div>
</div>
{% endblock %}