{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block plot_overview %}

{% include "nav.html" %}


<div class="container-fluid">

    <!-- Filter Menu which can be collapsed -->
    <div class="container m-3 pl-5 p-3">
        {% crispy form %}
    </div>

    <!-- Plot Cards -->
    <div class="container m-3 pl-5">
        <div class="row">
            {% for plot in plots %}
            <div class="col-md-4 pb-5">
                <div class="card-block ml-2 mr-2 bg-light shadow">

                    <div class="card-body text-center">

                        <!-- Title -->
                        <h6 class="card-title text-center ml-2 mr-2 pt-2">{{ plot.variation_name }}</h6>

                        <!-- Image -->
                        <a href="{% url 'plot_detail' plot.pk %}">
                            <img class="img-fluid pb-3" src="{% static plot.icon %}" width="128">
                        </a>

                        <!-- Badges -->
                        <div>
                            {% if plot.facetted == True %}
                            <span class="badge badge-pill badge-dark">Facetted</span>
                            {% endif %}
                            {% if plot.grouped == True %}
                            <span class="badge badge-pill badge-dark">Grouped</span>
                            {% endif %}
                            {% if plot.facetted == False and plot.grouped == False %}
                            <span class="badge badge-pill badge-dark">Basic</span>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}